.ExampleContainer {
  text-align: center;
}

.ExampleContainer-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ExampleContainer-logo {
    animation: ExampleContainer-logo-spin infinite 20s linear;
  }
}

.ExampleContainer-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.ExampleContainer-header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ExampleContainer-header-bottom {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 360px;
}


.ExampleContainer-link {
  color: #61dafb;
  margin: 7px;
}

@keyframes ExampleContainer-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}